@model Category

<form method="post" asp-action="Create">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Category</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
             <!--bining everything with category model-->
             <label asp-for="category_name">Name</label>
             <input asp-for="category_name" />
             <span asp-validation-for="category_name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width: 150px">Create</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width: 150px">
            Back to list
        </a>
    </div>
</form>


@*do validations on client side instead of doing them on server side*@
@section Scripts {
    @{
         <partial name="_ValidationScriptsPartial" />
    }
}
