@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}

h1 {
    font-size: 4rem;
}

#brand {
    font-weight: bold;
    font-size: 2.5rem;
    letter-spacing: .8px;
}

.navCustomStyle {
    height: 5.5rem !important;
}

input {
    font-size: inherit !important;
}
