@model Author

<h2>Author details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.author_name)
        </dt>

        <dd>
            @Html.DisplayFor(model =>  model.author_name)
        </dd>
    </dl>
</div>
<p>
    <div class="w-75 btn-group" role="group">
       @Html.ActionLink("Back to authors", "Index")
    </div>
</p>
